@import url(/staticFiles/propriedades.css);

body{
    display: flex;
    flex-direction: column;
}

/* botão padrão */
.default {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-white);

    background: var(--color-black);

    width: fit-content;
    height: fit-content;
    margin: 16px 0 0 0;

    border-radius: 5px;
    border: none;

    transition: 150ms ease-in-out;
}

.default:hover {
    color: var(--color-text-black);
    background: var(--color-hover-yellow);

    /* transform:scale(1.1); */

    /* box-shadow: 5px 10px 10px var(--color-shadow); */

    cursor: pointer;
    /* TODO adicionar sombra */
}

/* .default:active{
    transform: scale(1);
    box-shadow: none;
} */

.big_button {
    font-size: 4vh;
    padding: 2vh 2vw;
}

.small_button {
    font-size: 3vh;
    padding: 1vh 1vw;
}

.extend_button {
    width: 100%;
}

/* menu */
.menu_object{
    width: 100%;
    height: 3.1em;
    position: sticky;
    top: 0;

    box-shadow: 0 1px 20px var(--color-shadow), 0 -1px 20px var(--color-shadow);

    z-index: 9999;
}

/* footer */
.footer_object{
    width: 100%;
    height: 16em;
    top: 0;

    /* position: sticky;
    bottom: 0; */

    background: var(--color-black);
    box-shadow: 0 1px 20px var(--color-shadow), 0 -1px 20px var(--color-shadow);

    z-index: 9999;
}


/* Texto */
a{
    text-decoration: none;
}
.inter900 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter300 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

h1 {
    font-size: 2.5vw;
    color: var(--color-text-black);
    text-transform: uppercase;
}

h4 {
    font-size: 1.2vw;
    color: var(--color-text-white);
    text-transform: uppercase;
    margin: 8px 0;
}

p {
    font-size: 1.5vw;
    text-align: justify;
    color: var(--color-text-black);
}

.default_link:hover {
    transition: 100ms ease-in-out;
    color: var(--color-hover-yellow);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;900&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}