@import url(/staticFiles/componentes.css);

* {
    /* asterístico sever para atribuir caracteristicas a todos os elementos */
    box-sizing: border-box;
    /* considera a borda e margem para calcular o tamanho do elemento  */
    margin: 0;
    /* define margem igual a zero */
    scroll-behavior: smooth;
}


