@import url(/assets/styles/componentes.css);

@import url(componentes.css);

* {
    /* asterístico sever para atribuir caracteristicas a todos os elementos */
    box-sizing: border-box;
    /* considera a borda e margem para calcular o tamanho do elemento  */
    margin: 0;
    /* define margem igual a zero */
    scroll-behavior: smooth;
}


.contato_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

#contatos {
  color: #131313;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px 
}

/*
@media (max-width: 991px) {
  #contatos {
    max-width: 100%;
    font-size: 40px;
  }
}
*/

#legenda_contatos {
  max-width: 45%;
  color: #1e1e1e;
  text-align: justify;
  margin-top: 10px;
}

/*
@media (max-width: 991px) {
  #legenda_contatos {
    max-width: 55%;
    margin-top: 10px;
    font-size: 20px;
  }
}
*/

.divisor {
  background-color: #d9d9d9;
  align-self: stretch;
  max-height: 1%;
  margin: 40px 50px 40px 200px;
  width: 1050px;
}

/*
@media (max-width: 991px) {
  .divisor {
    max-width: 80%;
  }
}
*/

.meios_contato {
  display: inline-block;
  max-width: 627px;
  flex-direction: column;
  align-items: start;
  margin-left: 200px;
}

.texto-contato {
  color: black;
}

#telefone-icone, #celular-icone, #email-icone{
  width: 10%;
  color: #FFD058;
  margin-bottom: 16px;
}

#voluntario {
  margin-top: 30px;
  font-size: 17.6px;
}

#duvida {
  margin-left: 200px;
  margin-bottom: 20px;
  color: #131313;
}

#email-form, #nome_completo, #mensagem {
  display: block;
  margin-left: 200px;
  margin-bottom: 30px;
}

.input {
  display: block;
  border-radius: 10px;
  border-style: none;
  background-color: #7575752c;
}

#input_email, #input_nome {
  width: 500px;
  height: 40px;
}

#input_mensagem {
  width: 500px;
  height: 200px;
}

#botao_contato {
  border-radius: 10px;
  border-style: none;
  background-color: #FFD058;
  margin-left: 605px;
  margin-bottom: 50px;
  font-size: 20px;
}